.form {
    input {
        font-family: $font-second;
        font-weight: 400;
        font-size: 1.6rem;
        color: #fff;
        max-width: 43rem;
        width: 100%;
        height: 6rem;
        background: linear-gradient(#171D28) padding-box,
        linear-gradient(90deg, #181F2A 0%, #fff, 34%, #fff 68%, #181F2A 100%) border-box;
        box-sizing: border-box;
        padding: 0 3rem;
        border: 1px transparent solid;
        border-radius: 6rem;

        @media #{$lg} {
            max-width: none;
        }

        &::placeholder {
            color: #fff;
        }
    }
}

.input-box {
    position: relative;
    max-width: 43rem;

    @media #{$lg} {
        max-width: none;
    }

    &::before {
        content: '';
        position: absolute;
        width: 10.8rem;
        height: 6rem;
        background-color: #788097;
        filter: blur(50px);
        border-radius: 50%;
        pointer-events: none;
        right: 6.5rem;
        bottom: 1.5rem;

        @media #{$lg} {
            content: none;
        }
    }

    .btn {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        right: 0.6rem;
    }
}

.checkbox {
    input {
        display: none;

        &:checked + label {
            &::before {
                opacity: 0;
            }

            &::after {
                opacity: 1;
            }
        }
    }

    label {
        position: relative;
        display: inline-block;
        padding-left: 3.5rem;
        cursor: pointer;

        &::before, &::after {
            content: '';
            position: absolute;
            width: 2.4rem;
            height: 2.4rem;
            transition: all .1s linear;
            top: 0.4rem;
            left: 0;
        }

        &::before {
            background: url(../images/svg/checkbox.svg) no-repeat center / contain;
        }

        &::after {
            background: url(../images/svg/checkbox-active.svg) no-repeat center / contain;
            opacity: 0;
        }

        &, a {
            font-family: $font-second;
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 1.4rem;
            color: #465662;

            @media #{$lg} {
                font-size: 1.2rem;
                line-height: 1.2rem;
            }
        }

        a {
            text-decoration: underline;

            &:hover {
                color: $color-active;
            }
        }
    }
}