.legals-order {
    margin-bottom: 3.5rem;

    @media #{$lg} {
        margin-bottom: 0;
    }

    &__wrapper {
        @media #{$lg} {
            width: 100%;
            margin: 0;            
        }
    }

    h2 {
        font-weight: 400;
        font-size: 5rem;
        line-height: 100%;
        color: $color-primary;
        padding-left: 2rem;

        @media #{$lg} {
            font-size: 3rem;
            padding-left: 1.4rem;
            margin-bottom: 0.7rem;
        }
    }

    &__content {
        position: relative;
        min-height: 46.5rem;
        background: url(../images/legals-order-bg.png) no-repeat right bottom / cover;
        box-sizing: border-box;
        padding: 5rem 0 5rem 6.5rem;
        border-radius: 2rem;

        @media #{$lg} {
            min-height: 91rem;
            background: url(../images/legals-order-bg-mob.png) no-repeat top center / cover;
            padding: 14rem 1.4rem 0;
        }

        &::before {
            content: '';
            position: absolute;
            width: 41.3rem;
            height: 40.4rem;
            background: url(../images/legals-order-img.png) no-repeat center / contain;
            top: -6rem;
            right: 10rem;

            @media #{$lg} {
                width: 37.5rem;
                height: 31rem;
                background: url(../images/legals-order-img-mob.png) no-repeat center / contain;
                top: auto;
                right: auto;
                left: 0;
                bottom: 7rem;
            }
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width: 72.2rem;
        width: 100%;

        @media #{$lg} {
            max-width: none;
        }

        .form {
            &__input {
                input[type=file] + label {
                    @media #{$lg} {
                        line-height: 6rem;
                        height: 6rem;
                        padding-left: 5rem;
                    }

                    &::before {
                        @media #{$lg} {
                            left: 2.8rem;
                        }
                    }
                }

                label {
                    @media #{$lg} {
                        left: 2.8rem;
                    }
                }
            }

            &__notation {
                padding-left: 3.5rem;

                @media #{$lg} {
                    padding-left: 0;
                }
            }

            &__checkbox {
                label {
                    padding-left: 6.2rem;
                    
                    @media #{$lg} {
                        padding-left: 3rem;
                    }

                    &::before, &::after {
                        left: 3.2rem;

                        @media #{$lg} {
                            left: 0;
                        }
                    }
                }
            }
        }

        input {
            @media #{$lg} {
                height: 6rem;
                padding: 0 2.8rem;
            }
        }
    }
}