.pagination {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 5rem;
    background-color: rgba(#fff, 0.3);
    border-radius: 5rem;

    @media #{$lg} {
        flex-direction: column;
        align-items: center;
        gap: 1.4rem;
        height: auto;
        background-color: transparent;
        border-radius: 0;
    }

    &__more {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 100%;
        height: 100%;
        cursor: pointer;

        &:hover {
            p {
                color: $color-active;
            }
        }

        p {
            color: $color-primary;

            &, span {
                font-family: $font-second;
                font-weight: 600;
                font-size: 1.6rem;
                line-height: 3.3rem;
                transition: all .1s linear;
            }

            span {
                color: #f00;
            }
        }

        svg {
            width: 1rem;
            height: 0.6rem;
        }
    }

    &__num {
        position: absolute;
        display: flex;
        align-items: center;
        height: 100%;
        right: 1.6rem;

        @media #{$lg} {
            position: relative;
            justify-content: center;
            width: 100%;
            height: 5rem;
            background-color: rgba(#fff, 0.3);
            border-radius: 5rem;
            right: 0;
        }

        .num-inner {
            display: flex;

            a {
                font-family: $font-second;
                font-weight: 600;
                font-size: 1.8rem;
                color: #515865;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 3rem;
                height: 3rem;
                border: 0.2rem transparent solid;
                transition: all .1s linear;

                &:hover {
                    color: $color-active;
                }
                
                &.cur {
                    color: $color-active;
                    border: 0.2rem $color-active solid;
                    border-radius: 1rem;
                    pointer-events: none;
                }
            }
        }
    }

    &__prev, &__next {
        position: relative;
        width: 2.7rem;
        height: 100%;

        &.disabled {
            pointer-events: none;

            &::before {
                background: url(../images/svg/pagination-arrow-disabled.svg) no-repeat center / contain;
            }
        }

        &::before {
            content: '';
            position: absolute;
            width: 0.7rem;
            height: 1.2rem;
            background: url(../images/svg/pagination-arrow.svg) no-repeat center / contain;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
        }
    }

    &__prev {
        rotate: 180deg;
    }
}