.pdf {
    font-family: $font-second;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: #212121;
    position: relative;
    display: flex;
    align-items: center;
    min-height: 4rem;
    padding-left: 3.5rem;
    transition: all .2s ease-in-out;

    @media #{$lg} {
        font-size: 1.4rem;
        line-height: 1.6rem;
        padding-left: 3rem;
    }

    &:hover {
        color: $color-active;

        &::before {
            opacity: 0;
        }

        &::after {
            opacity: 1;
        }
    }

    &::before, &::after {
        content: '';
        position: absolute;
        width: 2.2rem;
        height: 2.4rem;
        transition: all .2s ease-in-out;
        top: 0.7rem;
        left: 0;
    }

    &::before {
        background: url(../images/svg/pdf.svg) no-repeat center / contain;
    }

    &::after {
        background: url(../images/svg/pdf-active.svg) no-repeat center / contain;
        opacity: 0;
    }
}