.promotion {
    margin-bottom: 6rem;

    @media #{$lg} {
        margin-bottom: 3.5rem;
    }

    &__content {
        min-height: 41.5rem;
        background-color: rgba(#fff, 0.5);
        box-sizing: border-box;
        padding: 2rem 15.5rem 10rem 2rem;
        border-radius: 2rem;

        @media #{$lg} {
            min-height: 0;
            background-color: transparent;
            padding: 0;
            border-radius: 0;
        }

        img {
            float: left;
            max-width: 48.5rem;
            width: 100%;
            height: auto;
            aspect-ratio: 485 / 290;
            object-fit: cover;
            object-position: center;
            border-radius: 2rem;
            margin: 0 3rem 3rem 0;

            @media #{$lg} {
                float: none;
                margin: 0 0 1.8rem;
            }
        }

        h1, h2, h3, h4 {
            font-family: $font-main;
            font-weight: 400;
            color: $color-primary;
            margin-top: 1rem;

            @media #{$lg} {
                margin-top: 0;
            }
        }

        h1 {
            font-size: 5.5rem;
            line-height: 5rem;

            @media #{$lg} {
                font-size: 3.5rem;
                line-height: 3rem;
            }
        }

        h2 {
            font-size: 5rem;
            line-height: 4.5rem;

            @media #{$lg} {
                font-size: 3rem;
                line-height: 2.5rem;
            }
        }

        h3 {
            font-size: 2.5rem;
            line-height: 2rem;
        }

        h4 {
            font-size: 2rem;
            line-height: 1.6rem;
        }

        &, p, a, li, span {
            font-family: $font-second;
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 2.2rem;
            color: $color-primary;

            @media #{$lg} {
                font-size: 1.6rem;
                line-height: 2rem;
            }
        }

        p, ul, ol, h1, h2, h3, h4 {
            margin-bottom: 1.5rem;

            @media #{$lg} {
                margin-bottom: 1.2rem;
            }
        }

        a {
            color: $color-active;

            &:hover {
                color: $color-active-secondary;
            }
        }

        ul, ol {
            padding-left: 2rem;
        }
    }
}