.reviews {
    margin-bottom: 10rem;

    @media #{$lg} {
        margin-bottom: 5rem;
    }

    &__header {
        display: flex;
        gap: 6rem;
        background-color: rgba(#fff, 0.5);
        box-sizing: border-box;
        padding: 2.6rem 4rem;
        border-radius: 2rem;
        margin-bottom: 2.2rem;

        @media #{$lg} {
            flex-direction: column;
            gap: 2.5rem;
            padding: 1.4rem 1rem 1rem;
            margin-bottom: 1.5rem;
        }

        &__total {
            display: flex;
            align-items: center;
            gap: 2.4rem;

            @media #{$lg} {
                margin: 0 auto;
            }
        }

        &__rating {
            font-family: $font-main;
            font-size: 5rem;
            line-height: 5rem;
            background-image: linear-gradient(78deg, $color-active, #f00);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            position: relative;
            display: flex;
            align-items: end;
            gap: 1.7rem;
            padding-right: 2.4rem;
            margin-bottom: -1rem;

            &::before {
                content: '';
                position: absolute;
                width: 1px;
                height: calc(100% - 2.7rem);
                background-color: #C9E2EF;
                top: 0.7rem;
                right: 0;
            }

            svg {
                width: 2.1rem;
                height: 2rem;
                margin-bottom: 1.5rem;
            }
        }

        &__count {
            display: flex;
            align-items: center;
            gap: 0.8rem;

            svg {
                width: 2rem;
                height: 1.9rem;
            }

            span {
                font-family: $font-second;
                font-weight: 600;
                font-size: 1.6rem;
                color: #748CA4;

                i {
                    font-family: $font-second;
                    font-style: normal;
                    font-size: 2rem;
                    color: #394250;
                }
            }
        }

        &__sources {
            display: flex;
            align-items: center;
            gap: 8.5rem;

            @media #{$lg} {
                gap: 0.5rem;
                width: calc(100% + 0.7rem);
                overflow-x: scroll;
            }

            &::-webkit-scrollbar {
                display: none;
            }

            &__item {
                display: flex;
                align-items: center;
                text-wrap: nowrap;
                color: #000;
                padding: 0 3.4rem;
                border: 2px transparent solid;
                border-radius: 5rem;

                @media #{$lg} {
                    padding: 0 2.3rem;
                }

                &:not(.active):hover {
                    &, span {
                        color: $color-active !important;
                    }
                }

                &, span, i {
                    font-family: $font-second;
                    font-weight: 600;
                    font-size: 2rem;
                    line-height: 4.4rem;
                    transition: all .1s linear;

                    @media #{$lg} {
                        font-size: 1.6rem;
                    }
                }

                &.active {
                    color: $color-primary;
                    border: 2px $color-active solid;
                    cursor: default;
                }

                i {
                    font-style: normal;
                    color: $color-active;
                    margin-left: 1.5rem;
                }
            }

            .btn {
                text-wrap: nowrap;
            }
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        margin-bottom: 5rem;

        @media #{$lg} {
            gap: 1rem;
            margin-bottom: 1.5rem;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        width: calc(33.3% - 1.3rem);
        background-color: rgba(#fff, 0.5);
        box-sizing: border-box;
        padding: 3.3rem 3.5rem 2rem;
        border-radius: 2rem;

        @media #{$lg} {
            width: 100%;
            padding: 1.2rem;
        }

        &_opened {
            position: relative;
            width: 74.5rem;
            background-color: rgba(#F6EFDC, 0.95);

            @media #{$lg} {
                width: calc(100% - 2.8rem);
            }

            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background: url(../images/pattern.png) repeat top left;
                pointer-events: none;
                border-radius: 2rem;
                top: 0;
                left: 0;

                @media #{$lg} {
                    background: url(../images/pattern-mob.png) repeat top left;
                }
            }

            &.fancybox__content>.f-button.is-close-btn {
                width: 3rem;
                height: 3rem;
                background: url(../images/svg/modal-close.svg) no-repeat center / contain;
                top: 1.8rem;
                right: 1.8rem;

                @media #{$lg} {
                    width:  2.5rem;
                    height: 2.5rem;
                    top: 1rem;
                    right: 1rem;
                }

                svg {
                    display: none;
                }
            }

            * {
                z-index: 1;
            }

            p {
                margin-bottom: 10rem;

                @media #{$lg} {
                    margin-bottom: 0;
                }
            }
        }

        &_image {
            position: relative;
            display: flex;
            width: calc(33.3% - 1.3rem);
            min-height: 43.5rem;
            order: 1;

            @media #{$lg} {
                width: 100%;
                min-height: 37.5rem;
                overflow: hidden;
            }

            &::before {
                content: '';
                position: absolute;
                width: 38.5rem;
                height: 29.8rem;
                background: url(../images/leave-review-img-2.png) no-repeat center / contain;
                pointer-events: none;
                right: 2.5rem;
                bottom: -3rem;

                @media #{$lg} {
                    width: 35.6rem;
                    height: 29.8rem;
                    top: 8rem;
                    right: -5rem;
                    bottom: auto;
                }
            }

            img {
                width: 100%;
                height: max-content;
                object-fit: contain;
                object-position: center;
                box-shadow: 0 0.4rem 3rem 0 rgba(#000, 0.25);
                border-radius: 2rem;

                @media #{$lg} {
                    width: 34.7rem;
                    box-shadow: none;
                }
            }
        }

        h3 {
            font-size: 2.5rem;
            line-height: 2rem;
            color: $color-primary;
        }

        &__date {
            color: #748CA4;
            margin-bottom: 1rem;

            &, a, span {
                font-family: $font-second;
                font-weight: 500;
                font-size: 1.6rem;
                line-height: 2rem;
            }

            a {
                color: #000;
                margin-left: 0.5rem;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .stars {
            margin-bottom: 1rem;
        }

        p {
            font-family: $font-second;
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 2.1rem;
            color: $color-primary;

            @media #{$lg} {
                font-size: 1.4rem;
                line-height: 1.6rem;
            }
        }

        &>a {
            font-family: $font-second;
            font-weight: 700;
            font-size: 1.4rem;
            line-height: 2.1rem;
            color: $color-active;
            margin-top: 1.2rem;
            margin-left: auto;
            
            @media #{$lg} {
                margin-top: 0.7rem;
                margin-left: 0;
            }
            
            &:hover {
                color: $color-active-secondary;
            }
        }
    }
}