.socials {
    display: flex;
    gap: 2rem;
    
    a {
        display: flex;
        align-items: center;
        width: 3rem;
        height: 3rem;
        cursor: pointer;

        &:hover {
            svg path {
                fill: revert-layer;
            }
        }

        svg {
            width: 100%;
            height: auto;

            path {
                transition: all .1s linear;
                fill: #B2A481;
            }
        }
    }
}